
.box-table .input-group{margin: 10px 0}
.form-control{padding: 5px 10px 6px}



.board{padding: 20px 0; min-height: 600px}
.board h3{border-bottom: 1px solid #ddd; padding-bottom: 15px}

.board table th{text-align: center; padding: 10px 5px 12px; border-bottom: 2px solid #666}
.board table td{text-align: center; padding: 10px 5px 12px}
.board table td.nopost{padding: 50px 0}
.board .badge{padding: 4px 6px 3px; border-radius: 3px; font-weight: 400}

.board .dropdown-menu{font-size: 14px}
.board .dropdown-menu li{cursor: pointer}

.board .contents-view{min-height: 400px}
.board .table-image{min-height: 400px}
/*.board .table-image .row{justify-content: space-between; flex-direction: row;}*/

.board .info li{display: inline-block}

.board .sns-button{}
.board .sns-button a img{width: 20px; height: 20px}
.view-comment{margin: 30px 0 10px}
.view-comment .media{margin: 10px 0}
.view-comment .media .comment-box{padding: 10px 16px 12px; background: #eee; margin: 10px 0; border-radius: 3px;}
.comment_write_box_inner{margin: 20px 0}